html
  head
    title Welcome to NodeTV!
    <!--bower:css-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <!--endbower-->
    //- inject:css
    link(rel="stylesheet", href="/css/style.css")
    //- endinject
  body
    .container
      .row
        .col-md-12
          a(href="/") <-- go back to index
          h1= show.name
          p= show.description
